{% extends 'navbar.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}
	<h1>PlayerCharacter index</h1>
	<div class="button-container">
		<a href="{{ path('app_player_character_new') }}"><button class="btn btn-new-unit">Create new character</button></a>
	</div>
	<div class="player-index-container d-flex" data-controller="player-index">
		<div
			class="player-index-list">
			<!-- Liste des players avec un défilement indépendant -->
			<ul>
				{% for player_character in player_characters %}
					<div class="ripped-paper mb-2">
						<div class="player player-parchment" data-id="{{ player_character.id }}" data-src="{{ path('app_player_character_show',{'id': player_character.id}) }}">
							<h2 class="mb-2 d-flex justify-content-center">{{ player_character.name }}</h2>
							<div class="d-flex justify-content-between mx-5">
								<div class"d-flex flex-column">
									<p>
										<strong>Niv</strong>
									</p>
									<p>level</p>
									{# TODO : modifier ici par {{ player_character.level }} lorsqu'il sera en base #}
								</div>
								<div class"d-flex flex-column">
									<p>
										<strong>CA</strong>
									</p>
									<p>{{ player_character.ac }}</p>
								</div>

								<div class"d-flex flex-column">
									<p>
										<strong>PV</strong>
									</p>
									<p>{{ player_character.hp }}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</ul>
		</div>
		<div class="player-details">
			<turbo-frame id="player-details-content" src=""></turbo-frame>
		</div>
	</div>
{% endblock %}
