{{ form_start(form) }}

<div class="card border-light mb-3" data-controller="players-form">

	<div class="card border-light mb-3">
		<div class="card-body" data-controller="players-collection">
			<div class="players-title d-flex justify-content-between">
				<h3 class="card-title mb-3">Players</h3>
			</div>
			{# <div class="players-content" data-index="{{ form.players|length > 0 ? form.players|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.players.vars.prototype)|e('html_attr') }}">
				{% for player in form.players %}
					<div class="container card mb-4 row">
						{{ form_row(player) }}
						<button class="btn btn-danger" data-action="players-form#removePlayer">Remove</button>
						<br>
					</div>
				{% endfor %}
			</div> #}
		</div>
	</div>


	{# <div class="card border-light mb-3" data-controller="monsters-form"> #}
		<div class="monster-title">
			<h3>Monsters</h3>
		</div>
		<div class="monsters-content" data-index="{{ form.monsters|length > 0 ? form.monsters|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.monsters.vars.prototype)|e('html_attr') }}">
			{% for monster in form.monsters %}
				<div class="monster-card mb-4 row">
					{{ form_row(monster.name) }}
				</div>
			{% endfor %}
		</div>
	</div>



	{# <div class="card border-light mb-3">
                <div class="card-body" data-controller="experience-collection">
                    <div class="experience-title d-flex justify-content-between">
                        <h3 class="card-title mb-3">Expériences</h3>
                    </div>
                    <div class="resume-experiences" data-index="{{ form.experiences|length > 0 ? form.experiences|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.experiences.vars.prototype)|e('html_attr') }}">
                        {% for cvExp in form.experiences %}
                            <div class="experience mb-4 row">
                                {{ form_row(cvExp.companyName) }}
                                {{ form_row(cvExp.field) }}
                                {{ form_row(cvExp.contractType) }}
                                {{ form_row(cvExp.position) }}
                                {{ form_row(cvExp.city) }}
                                {{ form_row(cvExp.startAt) }}
                                {{ form_row(cvExp.endAt) }}
                                {{ form_row(cvExp.description) }}
                                {{ form_row(cvExp.skills) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div> #}


	{# ... WIP ... #}



	{# Afficher le champ select des monstres disponibles #}
	{# <div class="form-group">
		<label for="{{ form.monsters.vars.id }}">Add a monster:</label>
		<select id="{{ form.monsters.vars.id }}" name="{{ form.monsters.vars.full_name }}" data-action="change->add-monster#onMonsterSelected">
			<option value="">-- Select a monster --</option>
			{% for monster in monstersAvailable %}
				{% if monster not in added_monsters %}
					<option value="{{ monster.id }}">{{ monster.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>

	<div class="monsters-list" data-controller="added-monsters">
		{% for monster in added_monsters %}
			<div class="monster" data-monster-id="{{ monster.id }}">
				{{ monster.name }}
				<button class="btn btn-danger" data-action="added-monsters#removeMonster">Remove</button>
			</div>
		{% endfor %}
	</div> #}

	{# ... WIP ... #}


	{# <button class="btn add_tag_list">Add monsters</button> #}

	<button class="btn">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}
