{{ form_start(form) }}
<div class="container">
	<div class="row">
		<div class="col-4 form-item-container">{{ form_row(form.name, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-4 form-item-container">{{ form_row(form.size, {'attr': {'data-controller': 'single-select', 'class': 'form-item'}}) }}</div>
		<div class="col-4 form-item-container">{{ form_row(form.challenge, {'attr': {'data-controller': 'single-select', 'class': 'form-item'}}) }}</div>
	</div>

	<div class="row">
		<div class="col-4 form-item-container">{{ form_row(form.type, {'attr': {'data-controller': 'single-select', 'class': 'form-item'}}) }}</div>
		<div class="col-4 form-item-container">{{ form_row(form.subtype, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-4 form-item-container">{{ form_row(form.alignment, {'attr': {'data-controller': 'single-select', 'class': 'form-item'}}) }}</div>
	</div>

	<br>

	<div class="row"><div class="col-12"><h4>Caractéristiques</h4></div>
		<div class="col-2 form-item-container">
			{{ form_row(form.strength, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
		<div class="col-2 form-item-container">
			{{ form_row(form.dexterity, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
		<div class="col-2 form-item-container">
			{{ form_row(form.constitution, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
		<div class="col-2 form-item-container">
			{{ form_row(form.intelligence, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
		<div class="col-2 form-item-container">
			{{ form_row(form.wisdom, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
		<div class="col-2 form-item-container">
			{{ form_row(form.charisma, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
	</div>

	<br>

	<div class="row"><div class="col-12"><h4>Défenses</h4></div>
		<div class="col-3 form-item-container">{{ form_row(form.hp, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.ac, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-6">
		</div>
	</div>

	<br>

	<div class="row"><div class="col-12"><h4>Maîtrises</h4></div>
		<div class="col-4 form-item-container">{{ form_row(form.savingThrows, {'attr': {'data-controller': 'select2', 'class': 'form-item'}}) }}</div>
		<div class="col-4 form-item-container">{{ form_row(form.proficientSkill, {'attr': {'data-controller': 'select2', 'class': 'form-item'}}) }}</div>
		<div class="col-4 form-item-container">{{ form_row(form.expertSkill, {'attr': {'data-controller': 'select2', 'class': 'form-item'}}) }}</div>
	</div>

	<div class="row"><div class="col-12"><h4>Résistances et vulnérabilités</h4></div>
		<div class="col-3 form-item-container">{{ form_row(form.stateImmunity, {'attr': {'data-controller': 'select2', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.damageImmunity, {'attr': {'data-controller': 'select2', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.damageResistance, {'attr': {'data-controller': 'select2', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.damageVulnerability, {'attr': {'data-controller': 'select2', 'class': 'form-item'}}) }}</div>
	</div>

	<br>

	<div class="row"><div class="col-12"><h4>Déplacements</h3></div>
		{# label déplacements #}
		<div class="col-2 form-item-container">
			{{ form_row(form.groundspeed, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
		<div class="col-2 form-item-container">
			{{ form_row(form.climbspeed, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
		<div class="col-2 form-item-container">
			{{ form_row(form.burrowspeed, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>		
		<div class="col-2 form-item-container">
			{{ form_row(form.swimspeed, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
		<div class="col-2 form-item-container">
			{{ form_row(form.flyspeed, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}
		</div>
	</div>

	<br>

	<div class="row"><div class="col-12"><h4>Sens</h4></div>
		<div class="col-3 form-item-container">{{ form_row(form.tremorsense, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.blindsight, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.darkvision, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.truesight, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
	</div>

	<br>
	
	<div class="row"><h4>Langues et communication</h4>
        <div class="col-3 form-item-container">{{ form_row(form.languages, {'attr': {'data-controller': 'select2', 'class': 'form-item'}}) }}</div>
        <div class="col-3 form-item-container">{{ form_row(form.customLanguage, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.telepathy, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
	</div>
	
	<br>

	<div class="row"><h4>Capacités, Actions, Réactions et Actions légendaires</h4>
		{# <div class="col-3 form-item-container">{{ form_row(form.capacities, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div> #}
		<div class="col-3 form-item-container">{{ form_row(form.actions, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.reactions, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
		<div class="col-3 form-item-container">{{ form_row(form.legendaryActions, {'attr': {'data-controller': 'form-control', 'class': 'form-item'}}) }}</div>
	</div>
</div>
<br>
<div class="button-container">
	<button class="btn btn-default btn-save">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
