{% extends 'navbar.html.twig' %}

{% block title %}Monster index
{% endblock %}

{% block body %}

    <h1>Monster index</h1>
    <a href="{{ path('app_monster_new') }}">Create new monster</a>

	<div class="monster-index-container" data-controller="monster-index">
		<div class="monster-index-list">
			<!-- Liste des monstres avec un défilement indépendant -->
			<ul>
				{% for monster in monsters %}
					<div class="monster monster-parchment container" data-id="{{ monster.id }}" data-src="{{ path('app_monster_show',{'id': monster.id}) }}">
						<li>{{ monster.name }}</li>
						<li>{{ monster.hp }}</li>
						<li>{{ monster.ac }}</li>
					</div>
				{% endfor %}
			</ul>
		</div>
		<div>
            <turbo-frame id="monster-details-content" src="">
            </turbo-frame>
		</div>
	</div>
{% endblock %}
