{% extends 'navbar.html.twig' %}

{% block title %}Monster index
{% endblock %}

{% block body %}

    <h1>Monster index</h1>
    <a href="{{ path('app_monster_new') }}">Create new monster</a>

	<div class="monster-index-container" data-controller="monster-index">
		<div class="monster-index-list">
			<!-- Liste des monstres avec un défilement indépendant -->
			<ul>
				{% for monster in monsters %}
					<div class="monster-parchment container" data-action="click->monster-index#loadMonsterDetails" data-monster-id="{{ monster.id }}">
						<li>{{ monster.name }}</li>
						<li>{{ monster.hp }}</li>
						<li>{{ monster.ac }}</li>
						<li>
							<a href="{{ path('app_monster_show', {'id': monster.id}) }}">show</a>
							<a href="{{ path('app_monster_edit', {'id': monster.id}) }}">edit</a>
						</li>
					</div>
				{% endfor %}
			</ul>
		</div>
		<div class="monster-index-details">
			<!-- Détails de l'unité sélectionnée (à afficher lors de la sélection) -->
			<div id="detailsContent"></div>
		</div>
	</div>
{% endblock %}
