{% extends 'navbar.html.twig' %}

{% block title %}Monster{% endblock %}

{% block body %}
    <turbo-frame id="monster-details-content">
        <div class="monster-detail-card">
            <h1>{{ monster.name }}</h1>
            <p><strong>{{ monster.type }} {{ (monster.subtype)? '(' ~ monster.subtype ~ ')'  : '' }}</strong> de taille {{ monster.size }}, {{ (monster.alignment)? monster.alignment : 'non alignée' }}</p>
            <hr class="mb-2 mt-2">
            <p><strong>Classe d'armure</strong> {{ monster.ac }}</p>
            <p><strong>Points de vie</strong> {{ monster.hp }}</p>
            <p><strong>Vitesse</strong> {{ monster.speed }}</p>
            {% if monster.alignment %}
                <p><strong>Alignement</strong> {{ monster.alignment }}</p>
            {% endif %}
            <hr class="mb-2 mt-2">
            <div class="d-flex justify-content-between">
                {% for attribute, value in {
                    'FOR': monster.strength,
                    'DEX': monster.dexterity,
                    'CON': monster.constitution,
                    'INT': monster.intelligence,
                    'SAG': monster.wisdom,
                    'CHA': monster.charisma
                } %}
                    <div class="d-flex flex-column">
                        <p><strong>{{ attribute }}</strong></p>
                        <p class="text-center">{{ value }} {{ monster.getStatModulo(value) }}</p>
                    </div>
                {% endfor %}
            </div>
            <hr class="mb-2 mt-2">
            {% if monster.savingThrows is not empty %}
                <div><strong>Jets de sauvegarde</strong>
                    {% for save in monster.savingThrows %}
                        <p><strong>{{ save.name }}</strong> {{ save.value }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if monster.damageImmunity is not empty %}
                <div><strong>Immunité aux dégâts</strong>
                    {{ monster.damageImmunity|map(attribute => attribute.name)|join(', ') }}.
                </div>
            {% endif %}

            {% if monster.damageVulnerability is not empty %}
                <div><strong>Vulnérabilités aux dégâts</strong>
                    {{ monster.damageVulnerability|map(attribute => attribute.name)|join(', ') }}.
                </div>
            {% endif %}

            {% if monster.damageResistance is not empty %}
                <div><strong>Résistances aux dégâts</strong>
                    {{ monster.damageResistance|map(attribute => attribute.name)|join(', ') }}.
                </div>
            {% endif %}

            {% if monster.stateImmunity is not empty %}
                <div><strong>Immunité aux états</strong>
                    {{ monster.stateImmunity|map(attribute => attribute.name)|join(', ') }}.
                </div>
            {% endif %}

            <div><strong>Sens</strong> 
                Perception passive {{ monster.passiveperception }}m
                {% if monster.blindsight %}, vision aveugle {{ monster.blindsight }}m{% endif %}
                {% if monster.darkvision %}, vision dans le noir {{ monster.darkvision }}m{% endif %}
                {% if monster.truesight %}, vision parfaite {{ monster.truesight }}m{% endif %}
                {% if monster.tremorsense %}, perception des vibrations {{ monster.tremorsense }}m{% endif %}
            </div>
            <div>
                {% if (monster.languages is not empty) or (monster.customLanguage is not empty) %}
                    <p><strong>Langues :</strong>
                    {% if monster.languages is not empty %}
                        {{ monster.languages|map(attribute => attribute.name)|join(', ') }}
                        {% if monster.customLanguage is not empty %}
                            ,{{ monster.customLanguage }}
                        {% endif %}
                    {% else %}
                        {{ monster.customLanguage }}
                    {% endif %}
                    .
                    </p>
                {% else %}
                    <p><strong>Langues :</strong> -</p>
                {% endif %}
                {% if monster.challenge %}
                    <p><strong>Dangerosité</strong> {{ monster.challenge.name }} ({{ monster.challenge.xp }}XP)</p>
                {% endif %}
            </div>
            <hr class="mb-2 mt-2">
            {% if monster.proficientSkill is not empty %}
                <div><strong>Compétences</strong>
                    {% for skill in monster.proficientSkill %}
                        <p><strong>{{ skill.name }}</strong> {{ skill.description }}</p>
                    {% endfor %}
                </div>
                <hr class="mb-2 mt-2">
            {% endif %}

            {% if monster.specialAbilities %}
                <div><strong><h4>Capacités</h4></strong>
                    {{ monster.specialAbilities|raw }}
                </div>
            {% endif %}

            {% if monster.actions is not empty or monster.reactions is not empty or monster.legendaryActions is not empty %}
                {% if monster.actions is not empty %}
                    <div><strong><h4>Actions</h4></strong></div>
                    <p><strong>{{ monster.actions|raw }}</strong></p>
                    <br>
                {% endif %}
                {% if monster.reactions is not empty %}
                    <p><strong><h4>Reactions</h4></strong></p>
                    <p><strong>{{ monster.reactions|raw }}</strong></p>
                    <br>
                {% endif %}
                {% if monster.legendaryActions is not empty %}
                    <p><strong><h4>Actions légendaires</h4></strong></p>
                    <p><strong>{{ monster.legendaryActions|raw }}</strong></p>
                    <hr class="mb-2 mt-2">
                {% endif %}
            {% endif %}
        </div>
    </turbo-frame>
{% endblock %}
