{% extends 'base.html.twig' %}

{% block title %}EncounterList{% endblock %}

{% block body %}
    <h1>EncounterList</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="align-items-start">Id : {{ encounter_list.id }}</th>
                <th class="align-items-start">List : {{ encounter_list.name }}</th>
                <tr><th class="align-items-center">{{ encounter_list.isPcList ? 'Players' : 'Monsters' }}</th></tr>
            </tr>
        </thead>


    <tbody>
                <td>
                    {% if listCategory == 'Players' %}
                        {% for playerCharacter in listContent %}
                            <tr>
                                <div class="d-flex flex-row align-items-start">
                                    <td class="p-2">{{ playerCharacter.name }}</td>
                                    <td class="p-2"><a href="{{ path('app_encounter_list_remove', {'id': encounter_list.id, 'playerId': playerCharacter.id}) }}">X</a></td>
                                </div>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for monster in listContent %}
                            <div class="d-flex flex-row align-items-start">
                                <div class="p-2">{{ monster.name }}</div>
                                <div class="p-2"><a href="{{ path('app_encounter_list_remove', {'id': encounter_list.id, 'monsterId': monster.id}) }}">X</a></div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </td>
        </tbody>
    </table>

    <a href="{{ path('app_encounter_list_index') }}">back to list</a>

    <a href="{{ path('app_encounter_list_edit', {'id': encounter_list.id}) }}">edit</a>

    {{ include('encounter_list/_delete_form.html.twig') }}
{% endblock %}
