{{ form_start(form) }}


<div>
	<h2 {{ encounter.id }}>
		Current Encounter:
		{{ encounter.shortName }}
		<br>
	</h2>
</div>

<div class="encounter-units">
	<div class="mb-3 encounter-players-container left-column" data-controller="players-form">
		<div class="player-title d-flex justify-content-between">
			<h3 class="mb-4">Players</h3>
		</div>
		<div class="players-content" data-index="{{ form.encounterPlayerCharacters|length > 0 ? form.encounterPlayerCharacters|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.encounterPlayerCharacters.vars.prototype)|e('html_attr') }}">
			{% for player in form.encounterPlayerCharacters %}
				<div class="player-form row mb-4 unit-parchment">
					<div class="row col-8">
						<div class="col-8">
							{{ form_row(player) }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>


	<div class="mb-3 encounter-monsters-container right-column" data-controller="monsters-form">

		<div class="monster-title d-flex justify-content-between">
			<h3 class="mb-4">Monsters</h3>
		</div>
		<div class="monsters-content" data-index="{{ form.encounterMonsters|length > 0 ? form.encounterMonsters|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.encounterMonsters.vars.prototype)|e('html_attr') }}">
			{% for monster in form.encounterMonsters %}
				<div class="monster-form row mb-4 unit-parchment">
					<div class="row col-8">
						<div class="col-8">
							{{ form_row(monster.monster) }}
						</div>
						<div class="col-4">
							{{ form_row(monster.quantity) }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
</div><button class="btn btn-save">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}