{% extends 'base.html.twig' %}
{% block title %}Initiatives !
{% endblock %}
{% block body %}
	<h1>Roll initiative !</h1>
	<div class="container encounter-nav">
		<nav>
			<a href="{{ path('app_encounter_show', {'id': encounterId}) }}">Back</a>
			<a href="{{ path('app_encounter_index') }}">Encounter</a>
		</nav>
	</div>
	<div data-controller="encounter" data-id="{{ encounterId }}">

		<div class="container encounter-menu">
			<div class="row">
				<div class="col-md-6">
					<h1>Encounter
						{{ encounter.shortName }}</h1>
				</div>
				<div class="col-md-6">
					<div
						class="encounter-menu__buttons">
						{# ERASE INIT #}
						<button class="btn btn-danger" data-action="click->encounter#resetInitiatives">
							Reset Initiatives</button>

						{# ROLL MONSTERS INITIATIVES #}
						<button class="btn btn-primary" data-action="click->encounter#rollMonstersInitiatives">Roll Monsters Initiatives</button>

						{# START ENCOUNTER #}

{# à modifier #}
						{# <a href="{{ path('app_encounter_active', {'id': encounter.id, 'units': units}) }}">
							<button class="btn btn-primary" id="startEncounterButton">Start Encounter</button>
						</a> #}
						<a href="#" data-action="click->encounter#startEncounter">
							<button class="btn btn-primary" id="startEncounterButton"  >Start Encounter</button>
						</a>


					</div>
				</div>
			</div>
		</div>

		<div class="container encounter-content" id="unitContainer" data-encounter-target="unitContainer">
			{% for unit in units %}

				{% if unit in monsters %}
					{% for i in 1..unit.quantity %}
						<div class="unit d-flex flex-row" data-monster="true" data-unit-name="{{ unit.attributes.name }}_{{i}}">
							<div class="unit__name">
								{{ unit.attributes.name }}
							</div>
							<div class="unit__initiative">
								<label for="initiative">Initiative :</label>
								<input value="{{ unit.attributes.initiative }}" placeholder="initiative" type="number" class="initiative" data-id="initiative_{{ unit.attributes.id }}" required="required">
							</div>
							<div class="unit__AC">
								<label for="ac">AC :</label>
								<input value="{{ unit.attributes.ac }}" placeholder="ac" type="number" class="ac" required="required">
							</div>
							{# unit.current-hp #}
							<div class="unit__currentHP">
								<label for="hp">HP :</label>
								<input value="{{ unit.attributes.hp }}" placeholder="hp" type="number" class="hp" required="required">
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="unit d-flex flex-row" data-unit-name="{{ unit.name }}">
						<div class="unit__name">
							{{ unit.name }}
						</div>
						<div class="unit__initiative">
							<label for="initiative">Initiative :</label>
							<input value="{{ unit.initiative }}" placeholder="initiative" type="number" class="initiative" required="required">
						</div>
						<div class="unit__AC">
							<label for="ac">AC :</label>
							<input value="{{ unit.ac }}" placeholder="ac" type="number" class="ac" required="required">
						</div>
						{# unit.current-hp #}
						<div class="unit__currentHP">
							<label for="hp">HP :</label>
							<input value="{{ unit.hp }}" placeholder="hp" type="number" class="hp" required="required">
						</div>
					</div>
				{% endif %}

			{% endfor %}
		</div>

	</div>
{% endblock %}
