{% extends 'navbar.html.twig' %}

{% block title %}Encounter{% endblock %}

{% block body %}
    <h1>Encounter {{ encounter.name }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="align-items-center">Units</th>
                <th class="align-items-center">Hp</th>
                <th class="align-items-center">AC</th>
                <th class="align-items-center">Initiative</th>
            </tr>
        <tbody>
                {% for unit in units %}
                <tr>
                    <td class="align-items-center">{{ unit.name }}</td>
                    <td class="align-items-center">{{ unit.hp }}</td>
                    <td class="align-items-center">{{ unit.ac }}</td>
                    <td class="align-items-center">{{ unit.initiative }}</td>
                </tr>
                {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_encounter_index') }}">back to list</a>

    <a href="{{ path('app_encounter_edit', {'id': encounter.id}) }}">edit</a>

    <a href="{{ path('app_encounter_init', {'id': encounter.id}) }}">initialize encounter</a>

{% endblock %}
