{% extends 'navbar.html.twig' %}

{% block title %}Encounter{% endblock %}

{% block body %}
    <h1>Encounter</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Units</th>
                <th>Hp</th>
                <th>AC</th>
                <th>Initiative</th>
            </tr>
        <tbody>
                {% for unit in units %}
                <tr>
                    <td>{{ unit.name }}</td>
                    <td>{{ unit.hp }}</td>
                    <td>{{ unit.ac }}</td>
                    <td>{{ unit.initiative }}</td>
                </tr>
                {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_encounter_index') }}">back to list</a>

    <a href="{{ path('app_encounter_edit', {'id': encounter.id}) }}">edit</a>

    {{ include('encounter/_delete_form.html.twig') }}
{% endblock %}
