{% extends "base.html.twig" %}
{% block navbar %}
    <nav>
        {# Home #}
        <a href="{{ path('app_hello') }}">Home</a>
        <a href="{{ path('app_player_character_index') }}">Characters</a>
        <a href="{{ path('app_monster_index') }}">Monsters</a>
        {# <a href="{{ path('app_encounter_list_index') }}">Saved Lists</a> #}
        <a href="{{ path('app_encounter_new') }}">New Encounter</a>
        {# New encounter #}
        
        {# if !encounter :
        {# Start encounter #}
        {# <a href="{{ path('start_encounter') }}">Start Encounter</a> #}
        {# if encounter : #}
        {# Previous turn #}
        {# <a href="{{ path('previous_turn') }}">Previous Turn</a> #}
        {# Next turn #}
        {# <a href="{{ path('next_turn') }}">Next Turn</a> #}
    </nav>
{% endblock %}