{% extends "base.html.twig" %}
{% block navbar %}
    <nav class="nav-menu-area">
        <div class="nav-position-left">
            <a href="{{ path('app_hello') }}">LOGO</a>
        </div>
        <div class="nav-position-right">
            <div class="nav-button-pannel">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'hello' ? 'active' }}" href="{{ path('app_hello') }}"><span>Accueil</span></a>
                <a class="nav-link {{ app.request.attributes.get('_route') == 'app_player_character_index' ? 'active' }}" href="{{ path('app_player_character_index') }}">Personnages</a>
                <a class="nav-link {{ app.request.attributes.get('_route') == 'app_monster_index' ? 'active' }}" href="{{ path('app_monster_index') }}">Bestiaire</a>
                <a class="nav-link {{ app.request.attributes.get('_route') == 'app_encounter_new' ? 'active' }}" href="{{ path('app_encounter_new') }}">Combat</a>
            </div>
        </div>
    </nav>
{% endblock %}