{% extends "base.html.twig" %}
{% block navbar %}
    <nav>
        {# Home #}
        <a href="{{ path('app_hello') }}">Home</a>
        {# New PC or NPC #}
        {# <a href="{{ path('app_player_character_new') }}">New Character</a> #}
        {# List of NPC #}
        <a href="{{ path('app_player_character_index') }}">Characters</a>
        {# Load PC or NPC #}
        {# <a href="{{ path('app_player_character_load') }}">Load Character</a> #}
        {# Lists of PC and NPC #}
        <a href="{{ path('app_encounter_list') }}">List of Characters</a>
        {# New PC or NPC #}
        {# encounter #}
        <a href="{{ path('app_encounter') }}">Encounter</a>
        {# New encounter #}
        
        {# if !encounter :
        {# Start encounter #}
        {# <a href="{{ path('start_encounter') }}">Start Encounter</a> #}
        {# if encounter : #}
        {# Previous turn #}
        {# <a href="{{ path('previous_turn') }}">Previous Turn</a> #}
        {# Next turn #}
        {# <a href="{{ path('next_turn') }}">Next Turn</a> #}
    </nav>
{% endblock %}